*{
    padding:0;
    margin: 0; 
}


.container{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 100vw;
}

.containersuperior{
    width: 100vw;
    height: 150px;
}

.menu-superior{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header{
    background-color: #261106;
    width: 100vw;
    height: 55%;
     box-shadow: 0px 6px 8px rgba(255, 255, 255, 0.6);  
}

.logo{
    position: relative;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.navegador-superior{
    background-color:#30170A;
    overflow: hidden;
    width: 100vw;
    height: 45%;    
}

.container{
    background-color: rgb(226, 226, 226);
}

.navegador-superior ul{
    list-style-type: none;
    
}
.navegador-superior ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    padding: 8px;

}
.navegador-superior ul li a:hover, .dropdown .dropdown-button:hover, .dropdown:hover .dropdown-button{
    background-color: #f1aa0f;
    font-weight: bold;
}
.dropdown{
    float: left;
}
.dropdown .dropdown-button{
    color:white;
    padding: 8px;
    cursor: pointer;
    font-family: Gotham,Helvetica Neue,Helvetica,Arial,sans-serif;
    
}
.dropdown .dropdown-content{
    position: absolute;
    background-color:#261106;
    display: none;
}


.dropdown:hover .dropdown-content{
    display: block;
    font-family: Gotham,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
}

.imagem{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 350px;
    width: 250px;
    margin: 20px;
    box-shadow: 1px 2px 4px rgb(185, 185, 185);
}

.imagem img{   
    width: 100%;
	 
}





