*{
    padding:0;
    margin: 0; 
}


.container{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 100vw;
}

.containersuperior{
    width: 100vw;
    height: 150px;
}



.menu-superior{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header{
    background-color: #261106;
    width: 100vw;
    height: 55%;
     box-shadow: 0px 6px 8px rgba(255, 255, 255, 0.6);  
}

.logo{
    position: relative;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.navegador-superior{
    background-color:#30170A;
    overflow: hidden;
    width: 100vw;
    height: 45%;    
}

.container{
    background-color: rgb(226, 226, 226);
}

.navegador-superior ul{
    list-style-type: none;
    
}
.navegador-superior ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    padding: 8px;
    

}
.navegador-superior ul li a:hover, .dropdown .dropdown-button:hover, .dropdown:hover .dropdown-button{
    background-color: #f1aa0f;
    font-weight: bold;
    

}
.dropdown{
    float: left;
}
.dropdown .dropdown-button{
    color:white;
    padding: 20px;
    cursor: pointer;
    font-family: Gotham,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    
}
.dropdown .dropdown-content{
    position: absolute;
    background-color:#261106;
    display: none;
    font-family: Gotham,Helvetica Neue,Helvetica,Arial,sans-serif;
}


.dropdown:hover .dropdown-content{
    display: block;
}

.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
}

.imagem{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 350px;
    width: 250px;
    margin: 20px;
    box-shadow: 1px 2px 4px rgb(185, 185, 185);
}

.imagem img{   
    width: 100%;
	 
}

/* -------------------slideshow--------------------------- */

.slideshow{
    position: relative;
    height: 600px;
    width: 100vw;
    margin: auto;
}
.slideshow img{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100%;
}

.slideshow img.active{
    display: block;
}

.seta{
    position: absolute;
    color: white;
    font-size: 50px;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(0,0,0,0.7);
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 0 20px 20px 0;
}
.seta.direita{
    right: 0;
    border-radius: 20px 0 0 20px;
}
.slideshow .bolinhas-overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.slideshow .bolinhas-overlay .bolinha{
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
.slideshow .bolinhas-overlay .bolinha.active{
    background: #30170A;
}


